/* - mikeNauman -- */

body {
	background: light-gray;
}

h2 {
  color: dark-gray;
  font-family: arial;
  text-align: center;
}

.gameBoard {
  text-align: center;
}

.mySquare {
  width: 150px;
  height: 150px;
}

#myStartButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 50px;
  width: 70px;
  border: solid 2px yellow;
  border-radius: 5px;
  padding: 5px;
  color: yellow;
  background: black;
}



